.outerouterdiv {
    background-color:white;
}

.outer {
    clear: both;
    top: 15vh;
    text-align: center;
    position: relative;
    border-color: #9A9A9A;
    height: 600px;
    width: 350px;
    flex-direction: column;
    border: 1px solid #9A9A9A;
    box-align: center;
    margin: auto;
    border-radius: 15px;
    display: flex;
}

.join {
    background-color:#101D42;
    color:white;
}

.upperdiv {
    background-color:#101D42;
    color:white;
    border-radius: 15px;
    width: 100%;
    height: 15%;
}

input[name=email] {
    border: 1px solid #9A9A9A;
    border-radius:1em;
    padding: 1em;
    width: 250px;
}

input[name=password] {
    border: 1px solid #9A9A9A;
    border-radius:1em;
    padding: 1em;
    width: 250px;
}

.rectangleleft {
    height: 40px;
    width: 80px;
    background-color: #FF8C42;
    margin-left: auto;;
}

.rectangleleft {
    height: 50px;
    width: 80px;
    background-color: #FF8C42;
    border-radius: 10px;
    margin-left: 27px;
    float:left;
}

.signup {
    background-color: #2E81DA;
    border-color: #2E81DA;
    color: white;
    height: 50px;
    width: 280px;
    border-radius: 20px;
}

.signin {
    font-size: 80%
}

