h1 {
    font-weight: 600;
}

.circle{
    height: 12px;
    width: 12px;
    background-color: #FF7551;
    border-radius: 50%;
    display: inline-block;
}

.admin_container {
    display:flex;
    flex-direction: column;
    padding: 20px 25px;
    background-color: #F6F5F7;
    justify-content:flex-start;
    width:100%;
}

.admin_header_title {
    margin: 0 0 15px 0;
}

.admin_header_button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin_header_button button{
    padding: 8px 8px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
}

.add-admin-button{
    background-color: #2E81DA;
    min-width: 150px
}

.edit-admin-button{
    margin: 0 0 0 20px;
    background-color: #9A9A9A;
    min-width: 80px;
}

/*----------Management Container-----------*/
.management_container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-top:20px;
}

.management_container_left, .management_container_right, {
    display:flex;
    width:900px;
    margin-top:20px;
    margin-bottom:20px;
}

.user_management, .event_management, .admin_management{
    background-color:white;
    width:100%;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;

}

.user_management_top, .event_management_top, .admin_management_top{
    background-color:#101D42;
    color: white;
    border-radius:30px 30px 0 0;
}

.user_management_top div, .event_management_top div, .admin_management_top div{
    margin: 8px 8px;
}

.user_management_title h2, .event_management_title h2, .admin_management_title h2{
    margin-left:22px;
    font-weight:600;
}

.user_management_stat, .event_management_stat, .admin_management_stat{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:center;
}

.user_management_stat h2, .event_management_stat h2, .admin_management_stat h2{
    font-weight:500;
}


.user_management_bottom, .event_management_bottom, .admin_management_bottom{
    height:600px;
    border-radius: 0 0 30px 30px;
}

.user_search_nav, .event_search_nav, .admin_search_nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user_search_nav input, .event_search_nav input, .admin_search_nav input{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius:10px;
    width:30%;
    border: 2px solid #F6F5F7;
    height: 25px;
}

input:placeholder-shown{
    font-style: italic;
}

table{
    width:100%;
    margin-top:25px;
}

td {
    font-size:12px;
    text-align:center;
    vertical-align:middle;
}


th {
    text-align: center;
    vertical-align: middle;
}

button span{
    height:19px;
    width:19px;
    border-radius:50%;
    cursor:pointer;
    display:inline-block;
}

td button{
    display:inline;
}

.edit_button{
    background-color:#2E81DA;
}

.delete_button{
    background-color:#FF7551;
}

/*--Admin Modal--*/
.admin_modal, .edit_user_modal{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
}

.modal_button, .modal_button2{
    position:absolute;
    z-index:1;
    width:100%;
}

.modal_button button, .modal_button2 button{
    float:right;
    border:none;
    border-radius: 50%;
    height:40px;
    width:40px;
    background-color:#777E94;
    color:white;
    cursor:pointer;
    bottom:12px;
    left:12px;
    align-items:center;
}

.admin_management{
    width:400px;
    height:700px;
    display:flex;
    flex-direction:column;
}

/*-----EDIT USER MODAL---------*/
.admin_management_bottom{
    display:flex;
    flex-direction: column;
}



.admin_management_nav{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content:space-evenly;
}

.personal_details_top, .personal_details_bottom, .residence_top, .residence_bottom, .profile-change-pw, .admin_status, .residence_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.personal_details_top div, .personal_details_bottom div, .residence_top div, .residence_bottom div, .profile-change-pw div, .admin_status div, .residence_button div{
    margin-top:3px;
    margin-bottom:3px;
}

.dot{
    height: 12px;
    width: 12px;
    background-color: #FF7551;
    border-radius: 50%;
    display: inline-block;
}

button {
    border-radius: 25px;
    width: 120px;
    height:25px;
    border: none;
    cursor:pointer;
    text-align:center;
    display:inline-block;
    font-weight:bold;
}

.button-blue{
    background-color: #2E81DA;
    color: white;
}

.button-orange{
    background-color: #FF7551;
    color:white;
}

.edit_user_modal input{
    border: 1px solid #9A9A9A;
    border-radius: 10px;
    height:25px;
}


