.bg-modal .outerouterdiv {
    background-color:white;
    opacity:1.0;
}

.bg-modal .logincontent{
    background-color:white;
    border-radius:15px;
}

.close-button-container {
  position:absolute;
  z-index:1;
  /* display:flex; */
  /* flex-direction:row; */
  width:100%;
}

.logincontent .close-button-x {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #777E94;
    color: white;
    cursor: pointer;
    /* display: flex; */
    bottom:12px;
    left:12px;
    align-items: center;
    float:right;
}

.close-button-x{
    margin:-50px;
}

.logincontent button {
    width: 200px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    position: relative;
    clear: both;
}

.outer {
    text-align: center;
    /* border-color: grey; */
    height: 600px;
    width: 350px;
    /* border: 1px solid grey; */
    margin: auto;
    border-radius: 15px
}

.upperdiv {
    opacity:1;
    background-color:#101D42;
    color:white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid grey; */
    text-align: center;
    margin: 0;
    border-radius: 15px;
    width: 100%;
}

input[name=email] {
    border: 1px solid #9A9A9A;
    border-radius:1em;
    padding: 1em;
    width: 250px;
}

input[name=password] {
    border: 1px solid #9A9A9A;
    border-radius:1em;
    padding: 1em;
    width: 250px;
}

.lowerdiv {
    position: relative;
    flex-grow: 1;
    /* border: 1px solid grey; */
    box-align: center;
    margin: auto;
    border: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: blue;
}

.emoji {
    font-size: 5em;
}

.signin-button {
    background-color: #2E81DA;
    border-color: #2E81DA;
    color: white;
    height: 50px;
    width: 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor:pointer;
}

.welcomeback {
    margin: 25px 0 0 0 ;
    font-size: 3em;
    line-height: 1em;
    font-weight: 600;
}

.signinbuttons {
    float:left;
    display: flex;
    gap: 13px;
}

.g-signin2 {
    width: 100px;
}