h1{
    font-weight: 600;
}

.main-content{
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    /* background-color: #F6F5F7; */

}

.profile-content-right{
    display:none;
    padding-left:150px;
    margin-top:25px;

    /* align-content:flex-end; */
}

.profile-content-left{
    padding-left:70px;
    margin-top:25px;
    width:500px;

}

.page_index a{
    text-decoration: underline;
    font-style:italic;
}

.edit_button{
    position:absolute;
    bottom: 0;
    left:20px;
}

.edit_button img{
    width:26px;
    height:26px;
}

.profile-header{
    flex-direction:row;
    display:flex;
    /* margin-bottom:20px; */
    margin-top:10px;
}

.profile-picture{
    height:80px;
    width:80px;
    border-radius:50px;
    background-size: cover;
    background-position: center;
    margin-right:30px;
}

.user-profile-picture{
    border-radius:50px;
    width:100%;
}

.personal_details, .residence, .password_container {
    display:flex;
    flex-direction: column;
}

.personal_details_top, .personal_details_bottom, .residence_top, .residence_bottom {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom:5px;
    margin-top:5px;
}

.profile_password, .profile_new_password, .confirm_password {
    margin-bottom:8px;
    margin-top:8px;
}

button {
    border-radius: 25px;
    width: 120px;
    height:25px;
    border: none;
    cursor:pointer;
    text-align:center;
    display:inline-block;
    font-weight:bold;
}

.button-blue{
    background-color: #2E81DA;
    color: white;
}

.button-orange{
    background-color: #FF7551;
    color:white;
}

.button-password{
    width:250px;
    background-color: #2E81DA;
    color: white;
    height:25px;
}

input{
    border: 1px solid #9A9A9A;
    border-radius: 4px;
    height:25px;
}



.button-google{
    width:200px;
    background-color:#2E81DA;
    color:white;
}
.dot{
    height: 12px;
    width: 12px;
    background-color: #FF7551;
    border-radius: 50%;
    display: inline-block;
}


.personal_details_container, .residence_container, .password_container{
    margin-top:20px;
}

.profile-change-pw {
    margin-top:5px;
    margin-bottom: 5px;
}

.residence_button, .password_button{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button-orange .cancel{
    float:right;
}

.remove-availability{
    justify-content:space-between;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.profile-remove-availability{
    margin-top:40px;
}

.profile-add-availability{
    margin-top:40px;
}

.add{
    float:right;
}

.upload_modal {
    position:absolute;
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.upload_form {
    height:60%;
    width:40%;
    background-color:white;
    border-radius:10px;
}

.dropzone{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    row-gap:16px;
    border: 2px dashed #2E81DA;
    background-color: white;
    height:80%;
    border-radius:10px;
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);

}

.dropzone label {
    padding: 8px 12px;
    color: white;
    background-color: #2E81DA;
    cursor:pointer;
    border-radius:5px;
    border:none;
}


#dropzoneFile{
    display:none;
}

.dropzone_button{
    cursor:pointer;
    border-radius:5px;
    background-color:#FF7551;
    color:white;
}

.upload_modal{
    display:none;
    justify-content:center;
    align-items:center;
    position:absolute;
    z-index:1;
    transition: 1px transform 2s;
    color: rgb(255,255,255);
}

.upload_container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:300px;
    height:500px;
    border-radius: 10px;
    background-color: #101D42;

}

.close_button{
    position:absolute;
    z-index:1;
    width:100%;
}

.close_button button{
    float:right;
    border:none;
    border-radius: 50%;
    height:40px;
    width:40px;
    background-color:#777E94;
    color:white;
    cursor:pointer;
    bottom:12px;
    left:12px;
    align-items:center;
}

.modal_heading{
    text-align:center;
    height:20%;
    margin-top:10px;
}

/* .remove{
    float:right;
} */

@media (max-width: 1440px){
    .profile-content-right{
        padding-left:100px;
        margin-top:25px;
        margin-bottom:25px;
    }

    .add{
        float:none;
        display:block;
    }

    .remove-availability{
        flex-direction:column;

        /* justify-content:; */
    }

    .profile-header{
        flex-direction: column;
    }

}

@media (max-width: 1000px){
    .main-content{
        flex-direction: column;

    }
}

